.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: orange;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
