.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 5px 10px;
}
